In [1]:
import pandas as pd

In [2]:
data = [[1, 3.5], [2, 3.65], [3, 4.0], [4, 3.85], [5, 4.0], [6, 3.65]]
scores = pd.DataFrame(data, columns=['id', 'score']).astype({'id':'Int64', 'score':'Float64'})

In [3]:
scores

   id  score
0   1    3.5
1   2   3.65
2   3    4.0
3   4   3.85
4   5    4.0
5   6   3.65

In [4]:
sorted_scores = scores.sort_values(by='score', ascending=False)

In [5]:
sorted_scores

   id  score
2   3    4.0
4   5    4.0
3   4   3.85
1   2   3.65
5   6   3.65
0   1    3.5

In [6]:
sorted_scores['rank'] = sorted_scores['score'].rank(method='dense', ascending=False)

In [7]:
sorted_scores

   id  score  rank
2   3    4.0   1.0
4   5    4.0   1.0
3   4   3.85   2.0
1   2   3.65   3.0
5   6   3.65   3.0
0   1    3.5   4.0

In [8]:
sorted_scores[['score', 'rank']]

   score  rank
2    4.0   1.0
4    4.0   1.0
3   3.85   2.0
1   3.65   3.0
5   3.65   3.0
0    3.5   4.0