196. Delete Duplicate Emails

In [1]:
import pandas as pd

In [2]:
data = [[1, 'john@example.com'], [2, 'bob@example.com'], [3, 'john@example.com']]
person = pd.DataFrame(data, columns=['id', 'email']).astype({'id':'int64', 'email':'object'})

In [3]:
person.sort_values(by='id', ascending=True, inplace=True)

In [4]:
person

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [5]:
person.drop_duplicates(subset='email', keep='first', inplace=True)

In [6]:
person

   id             email
0   1  john@example.com
1   2   bob@example.com