596. Classes More Than 5 Students

In [1]:
import pandas as pd

In [2]:
data = [['A', 'Math'], ['B', 'English'], ['C', 'Math'], ['D', 'Biology'], ['E', 'Math'], ['F', 'Computer'], ['G', 'Math'], ['H', 'Math'], ['I', 'Math']]
courses = pd.DataFrame(data, columns=['student', 'class']).astype({'student':'object', 'class':'object'})

In [3]:
courses

  student     class
0       A      Math
1       B   English
2       C      Math
3       D   Biology
4       E      Math
5       F  Computer
6       G      Math
7       H      Math
8       I      Math

In [6]:
class_counts = courses.groupby('class').size()
count = class_counts[class_counts >= 5].index
result = pd.DataFrame(count, columns=['class'])

In [7]:
result

  class
0  Math