586. Customer Placing the Largest Number of Orders

In [1]:
import pandas as pd

In [2]:
data = [[1, 1], [2, 2], [3, 3], [4, 3]]
orders = pd.DataFrame(data, columns=['order_number', 'customer_number']).astype({'order_number':'Int64', 'customer_number':'Int64'})

In [3]:
orders

   order_number  customer_number
0             1                1
1             2                2
2             3                3
3             4                3

In [4]:
counts = orders.groupby('customer_number')['order_number'].count()

In [7]:
max_order = counts.idxmax()

In [8]:
max_order

3