1741. Find Total Time Spent by Each Employee

In [8]:
import pandas as pd # type: ignore

In [9]:
data = [['1', '2020-11-28', '4', '32'], ['1', '2020-11-28', '55', '200'], ['1', '2020-12-3', '1', '42'], ['2', '2020-11-28', '3', '33'], ['2', '2020-12-9', '47', '74']]
employees = pd.DataFrame(data, columns=['emp_id', 'event_day', 'in_time', 'out_time']).astype({'emp_id':'Int64', 'event_day':'datetime64[ns]', 'in_time':'Int64', 'out_time':'Int64'})

In [10]:
employees

   emp_id  event_day  in_time  out_time
0       1 2020-11-28        4        32
1       1 2020-11-28       55       200
2       1 2020-12-03        1        42
3       2 2020-11-28        3        33
4       2 2020-12-09       47        74

In [11]:
employees['total_time'] = employees['out_time'] - employees['in_time']

In [14]:
employees = employees.groupby(['event_day', 'emp_id'], as_index=False).agg(sum)

/var/folders/m4/zw00zs7x0m7chsqwc4kb_lkr0000gn/T/ipykernel_1562/206478207.py:1: FutureWarning: The provided callable <built-in function sum> is currently using DataFrameGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  employees = employees.groupby(['event_day', 'emp_id'], as_index=False).agg(sum)

In [15]:
employees.rename(columns={'event_day': 'day'}).drop(columns=['out_time', 'in_time'])

         day  emp_id  total_time
0 2020-11-28       1         173
1 2020-11-28       2          30
2 2020-12-03       1          41
3 2020-12-09       2          27